# Dependency directories
node_modules/
dist/

# Build directory
build/

# Vite cache
.vite/
.vitest/

# Local environment settings
.env.local
.env.*.local

# Editor directories and settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Lint and formatting
.eslintcache
.prettierignore
prettier-report.txt

# Husky
.husky/_

# Optional: Ignore public directory if it contains generated or temporary files
# Uncomment if necessary
# /public/

# Coverage files
coverage/

# Other caches
.cache/
.parcel-cache/
.next/
out/

# Ignore Yarn Integrity
.yarn-integrity
