.movie-card {
  width: 454px;
  height: 281px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.movie-card img {
  width: 183px !important;
  height: 281px;
}

.ant-card-body {
  width: 228px;
  height: 216px;
  padding: 10px 0 0 0 !important;
}

.ant-card-meta {
  width: 228px;
  height: 216px;

  &-title {
    font-size: 20px!important;
    font-weight: 300!important;
    line-height: 28px!important;
    text-align: left;

  }
}

.ant-rate {
  font-size: 15px!important;
}

